body{
    display: flex;
    gap: 10px;
}
.boxOne{
    border: 5px solid gray;
    width: 30%;
    height: auto;
    text-align: justify;
    border-radius: 15px;
    padding: 10px;
    
}
h2{
    text-align: left;
    padding: 2px;
}
.carre{
    width: 5%;
    height: 5%;
    border: 20px solid gray;
    background-color: blue;
}
#firstDiv{
    text-align: right;
    border: 1px gray;
    
    
}
#lastDiv{
    text-align: right;
    border: 1px gray;
}